<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>54700997246-7oisp97jjlkm03v4sa8j4ms4jqn5dnlk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.54700997246-7oisp97jjlkm03v4sa8j4ms4jqn5dnlk</string>
	<key>API_KEY</key>
	<string>AIzaSyChfMfcfHbvkYJe3v91hDFbHPUvF4fOvKo</string>
	<key>GCM_SENDER_ID</key>
	<string>54700997246</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newproject</string>
	<key>PROJECT_ID</key>
	<string>newproject-aae3a</string>
	<key>STORAGE_BUCKET</key>
	<string>newproject-aae3a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:54700997246:ios:682b5e83e2a0dfe307f62f</string>
</dict>
</plist>